 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 400px;}
  /* Set gray background color and 100% height */
  .sidenav {
    padding: 15px;
    background-color: #f1f1f1;
    height: 100%;
  }
  

  /* On small screens */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  .img-content{
      width: 100%;
      height: auto;
      padding: 20px 0;
  }
  article h2{
      font-size: 2em;
      font-weight: bold;
  }
  
  article .text-header h1{
      font-size: 4em;
      text-align: center;
      font-weight: bold;
  }
  article .text-header p{
      text-align: center;
      font-size: 2em;
  }

  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }