*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.row{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;;
}
[class*='col*']{
    width: 100%;
}
#Logo a img{
    display: none;
}
#banner{
    text-align: center;
    position: relative;
    display: block;
    animation: banner 4s linear infinite alternate;
    font-family: "Estonia";
}
#banner h1{
    font-size: 80px;
    
}
#banner p{
    font-size: 50px;
}
#banner h1, #banner p{

    padding-bottom: 2vw;
}
@media only screen and (min-width: 992px){
    #banner{
        background-image: url("../images/banner.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 700px;
        width: 95%;
        
    }
    hr{
        display: none;
    }
}
@keyframes banner {
0%{color: white;}
100%{color: black;}
}
article{
    background-color: #ecf0f1;
}
#content h2, #content p{
    text-align: center;
}
.img-content{
    width: 100%;
    height: auto;
    border-radius: 30px;
    
}
#content div{
    padding-bottom: 15px;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }